apiVersion: v1
kind: Service
metadata:
  name: flask-service
spec:
  type: NodePort     # load balancing (round-robin)
  selector:
    app: flask-app
  ports:
    - protocol: TCP
      port: 5000
      targetPort: 5000
      nodePort: 32000
